[data-md-color-scheme="default"] {
  --md-primary-fg-color: #0d1117;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #2196f3;
  --md-typeset-a-color: #1976d2;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0d1117;
  --md-accent-fg-color: #42a5f5;
  --md-typeset-a-color: #42a5f5;
}
